@font-face {
  font-family: emoji;

  /* Fonts for text outside emoji blocks */
  src: local('Droid Sans Mono'),
       local('Lucida Console'),
       local('Arial Monospaced'),
       local(Arial);
}
@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
	   local('Segoe UI Symbol'),
       local(EmojiSymbols),
       local(Symbola);

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

html,
body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: #ffffff;
	color: #000000;
    overflow: hidden;
    font-family: noto, ubuntu, Lucida Sans, Lucida Grande, Lucida Sans Unicode, HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif, Segoe UI, 'Segoe UI Symbol', 'emoji';
	text-align: center;
}

body {
background-image: url('logo.png');
background-image: url('logo.svg'), none;
background-repeat: repeat;
background-position: 0 0;
background-size: cover;
}

#main {
display: block;
clear: both;
float: left;
width: 100%;
height: 100%;
background-color: #ffffff;
background-color: rgba(255, 255, 255, 0.75);
}

@keyframes loading {
  from {
    transform: rotateY(0deg);
  }
 
  to {
    transform: rotateY(360deg);
  }
}

#loading{
    display: inline-block;
	height: 21px;
	width: auto;
	image-rendering: optimizeQuality;
}

.loading  #loading, .page-loading #loading, .torrent-loading #loading{
cursor: wait;
cursor: progress;
animation-direction: normal;
animation-iteration-count: infinite;
animation-duration: 4s;
transform-style: preserve-3d;
backface-visibility: visible;
animation-name: loading;
}

.loading  {
cursor: wait;
cursor: progress;
}

#logo {
width: 50px;
height: 50px;
}

#player {
    background-color: #BBFFFB;
    color: #000000;
}

#log {
    background-color: #005D00;
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
}